{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_question.js') }}"></script>
<script>
    let id = {{data["id"]|tojson}}
    let details = {{data["question"]|tojson}}
    console.log(id)
    console.log(details)
</script>
<body><br>
  <div id="qstn-title"></div>
  <br>
  <div class="row">
    <div id="question"></div>
  </div>
  <div class="row">
    <div id="clarification"></div>
  </div><br>
  <div class="continaer" id="quiz-options">
    <button id='ans-fs' class="btn">Full Shot</button>
    <button id='ans-mfs' class="btn">Medium Full Shot</button>
    <button id='ans-cs' class="btn">Cowboy Shot</button>
    <button id='ans-ms' class="btn">Medium Shot</button>
    <button id='ans-mcu' class="btn">Medium Close Up</button>
    <button id='ans-cu' class="btn">Close Up</button>
    <button id='ans-ecu' class="btn">Extreme Close Up</button>
  </div><br>
  <div class="row">
    <div class="col-1">
      <div id="quiz-btn-back"></div>
    </div>
    <div class="col-1 offset-10">
      <div id="quiz-btn-forward"></div>
    </div>
  </div>
</body>
  
{% endblock %}
