{% extends "layout.html" %}

{% block content %}
<div class="content">
 <h2>{{data.name}}</h2> <br>

 <div id="parent">
   <div id="child1"><img src="{{ url_for('static', filename='shot'+ data.id|string +'.png')}}" alt="data.name" width="800px"> <br></div>
   <div id="child2"> <h3>{{data.description|safe}}</h3> </div>
 </div>
 

 <br>
 <br>
 <br>
 <br>

 <a href="/shot/{{data.id - 2}}">
   <button class="btn">Prev</button>
 </a>
 <a href="/shot/{{data.id}}">
    <button class="btn">Next</button>
 </a>
</div>
{% endblock %}
